@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.dash-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
  background: white;
}

strong {
  font-weight: 500;
}

.Heading {
  margin-top: -42px;
  margin-left: 30px;
  height: 59px;
  padding: 15px 25px;
  border-bottom: 1px solid #f7f7f7;
  position: relative;
}

.dash-content {
  border-bottom: 1px solid #f5f5f5;
  /* position: relative; */
  /* padding: 0 50px 0 15px; */
  transition: background-color 0.4s ease-in-out;
  /* display: block; */
  /* height: 50px; */
  /* line-height: 50px; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000;
  cursor: pointer;
}

.text-heading {
  padding-right: 25px;
  max-width: 67%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  font-size: 16px;
  /* font-family: "Latobold";
    margin-top: 0px;
    color: #1d1d1d;
    margin-bottom: 7px;
    line-height: 1.4;
    position: relative; */
}

.cards {
  padding: 12px 0 0 12px;
  border-radius: 5px;
  box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2);
  margin: 20px 0;

  /* background-color: white; */
}

.cards,
h5 {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 1px;
}

.cards,
p {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 250;
  letter-spacing: 0.5px;
  /* padding: 2px 0; */
}

.cardBodyComp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-mobile {
  display: flex;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: #f5f5f5;
  width: 650px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  right: -100%;
  transition: 850ms;
}

.nav-menu.active {
  right: 0;
  z-index: 100;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #1a83ff;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

span {
  margin-left: 16px;
}

.dashboardTable {
  border: 1px solid rgba(0, 0, 0, 0.175);
  border-radius: 9px;
}

.dash-card {
  overflow: auto;
}

.dash-new {
  overflow: auto;
  height: 30rem;
  border: 1px solid rgba(0, 0, 0, 0.175);
  border-radius: 9px;
  width: 33%;
}

.dash-t {
  margin-top: -15px;
  padding-left: 10px;
  padding-right: 10px;
}

.card-dash {
  border: none;
  margin-bottom: 30px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
}

.card-01 .card-body {
  position: relative;
  padding-top: 40px;
}

.card-01 .badge-box {
  position: absolute;
  top: -20px;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  text-align: center;
}
.no-data {
  padding-bottom: 12px;
  line-height: 20px;
  max-width: 600px;
  margin-top: 0;
  font-size: 15px;
  color: #666;
}
.icon-nodata {
  font-size: 104px;
  padding-left: 46px;
  margin-left: 52px;
}
.second-card {
  height: 310px;
  overflow: auto;
  border-radius: 5px;
  background: white;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.dash-background {
  background: #f6f7f8;
}
